In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Import CSV and convert to dataframes
IncomeZip_df = pd.read_csv(os.path.join("Resources", "income_zip.csv"))
zip_df = pd.read_csv(os.path.join("Resources", "zip.csv"))

In [3]:
# Clean Income dataframe

# Select desired columns for data frame
IncomeZip_df = IncomeZip_df[['GEO.display-label', 'HC01_EST_VC13']]

#Rename columns 
IncomeZip_df = IncomeZip_df.rename( index=str, columns = {"GEO.display-label": "ZIP","HC01_EST_VC13": "MED_INCOME"})

# Verify no missing data
IncomeZip_df.isnull().sum()

# Find duplicate rows
IncomeZip_df[IncomeZip_df.duplicated(['ZIP'])]

#Verify correct data stypes
IncomeZip_df.dtypes

# Inspect data 
IncomeZip_df.MED_INCOME.unique()

IncomeZip_df = IncomeZip_df.replace("N", None)

# Replace missing values and invalid values with None
IncomeZip_df = IncomeZip_df.replace(["-", "250,000+"], None)

# Remove extra characters from zip code
temp_df = IncomeZip_df["ZIP"].str.split(" ", n = 1, expand = True)
IncomeZip_df["ZIP"] = temp_df[1]

# Drop the first row
IncomeZip_df = IncomeZip_df.drop(IncomeZip_df.index[0])

# Change income column to interger value
IncomeZip_df["MED_INCOME"] = IncomeZip_df["MED_INCOME"].astype('int64')
IncomeZip_df["ZIP"] = IncomeZip_df["ZIP"].astype('int64')

# Verify correct data types
IncomeZip_df.dtypes

ZIP           int64
MED_INCOME    int64
dtype: object

In [4]:
# Clean Zip code dataframe
zip_df.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

In [5]:
zip_df.merge(IncomeZip_df, how="right", on = "ZIP")

       ZIP        LAT        LNG  MED_INCOME
0     7001  40.582316 -74.271506       68426
1     7002  40.662338 -74.110275       56701
2     7003  40.809128 -74.187155       74961
3     7004  40.882508 -74.304593      107417
4     7005  40.932771 -74.417304      109888
5     7006  40.851187 -74.282865      114096
6     7008  40.583790 -74.227457       73892
7     7009  40.858017 -74.229784      115926
8     7010  40.822081 -73.987834       67799
9     7011  40.878256 -74.144073       56285
10    7012  40.848398 -74.160266       86472
11    7013  40.869405 -74.173062       93005
12    7014  40.831339 -74.135419       96339
13    7016  40.656391 -74.304830      122848
14    7017  40.772072 -74.207103       41322
15    7018  40.755897 -74.217961       42335
16    7020  40.823877 -73.974152      103505
17    7021  40.828127 -74.276197      198750
18    7022  40.821054 -74.003061       56057
19    7023  40.641700 -74.385676      132292
20    7024  40.850640 -73.971007       76623
21    7026  40.879797 -74.108250       54037
22    7027  40.651249 -74.323137       79063
23    7028  40.804798 -74.204569      195714
24    7029  40.743595 -74.154913       61084
25    7030  40.745268 -74.032021      127523
26    7031  40.786256 -74.126220       74481
27    7032  40.752323 -74.123090       63222
28    7033  40.677420 -74.289341      108281
29    7034  40.879480 -74.380104       82626
..     ...        ...        ...         ...
570   8852  40.388262 -74.549618      101928
571   8853  40.529933 -74.742314      130352
572   8854  40.545640 -74.460817       89617
573   8857  40.392789 -74.330397       93650
574   8858  40.682576 -74.737037       93650
575   8859  40.458848 -74.302768       83389
576   8861  40.520494 -74.272943       51389
577   8863  40.527412 -74.315892       87357
578   8865  40.708223 -75.147074       60887
579   8867  40.574254 -74.966157      125694
580   8869  40.571349 -74.646019       78974
581   8872  40.444335 -74.356884       74985
582   8873  40.496619 -74.532009       90555
583   8876  40.589554 -74.685411       91324
584   8879  40.466410 -74.278625       68693
585   8880  40.553947 -74.527455       81545
586   8882  40.445652 -74.378459       62179
587   8884  40.397671 -74.389399       75226
588   8886  40.687502 -75.101127      106012
589   8887  40.521268 -74.794840       83750
590   8889  40.609021 -74.754216      134387
591   8890  40.539039 -74.575423      134387
592   8901  40.483638 -74.442460       38413
593   8902  40.439213 -74.484303       88512
594   8904  40.500795 -74.427911       75913
595  10969  41.294859 -74.488006       83333
596  10983  41.031088 -73.947703      112831
597  10990  41.267448 -74.364011       94091
598  18042  40.654176 -75.223124       53291
599  18343  40.898529 -75.110092       66757

[600 rows x 4 columns]

In [56]:
zip_df.join(IncomeZip_df, on="ZIP")

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
IncomeZip_df.dtypes