In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Import CSV and convert to dataframes
IncomeZip_df = pd.read_csv(os.path.join("Resources", "income_zip.csv"))

In [3]:
IncomeZip_df

,GEO.id,Unnamed: 1,GEO.display-label,HC01_EST_VC13,HC01_MOE_VC13,HC02_EST_VC13,HC02_MOE_VC13,HC03_EST_VC13,HC03_MOE_VC13,HC04_EST_VC13,HC04_MOE_VC13
0,Id,NaN,Geography,Households; Estimate; Median income (dollars),Households; Margin of Error; Median income (do...,Families; Estimate; Median income (dollars),Families; Margin of Error; Median income (doll...,Married-couple families; Estimate; Median inco...,Married-couple families; Margin of Error; Medi...,Nonfamily households; Estimate; Median income ...,Nonfamily households; Margin of Error; Median ...
1,8600000US07001,NaN,ZCTA5 07001,68426,6822,87310,11916,93590,7732,33090,5992
2,8600000US07002,NaN,ZCTA5 07002,56701,3179,66679,5658,82258,5823,38775,3794
3,8600000US07003,NaN,ZCTA5 07003,74961,3004,89061,3475,106457,5560,50999,2368
4,8600000US07004,NaN,ZCTA5 07004,107417,21207,130841,21658,133125,17309,39444,26232
5,8600000US07005,NaN,ZCTA5 07005,109888,6300,126514,8040,142786,13868,57798,12427
6,8600000US07006,NaN,ZCTA5 07006,114096,6925,146332,9920,160117,11602,49449,5543
7,8600000US07008,NaN,ZCTA5 07008,73892,3652,78377,7193,86387,5652,36154,12150
8,8600000US07009,NaN,ZCTA5 07009,115926,7190,142578,15535,151833,11189,46620,8811
9,8600000US07010,NaN,ZCTA5 07010,67799,7665,82351,8177,98011,11421,41404,5525
10,8600000US07011,NaN,ZCTA5 07011,56285,2920,64121,3697,75512,5546,31288,6189
11,8600000US07012,NaN,ZCTA5 07012,86472,6098,110089,6827,114625,7288,47694,6394
12,8600000US07013,NaN,ZCTA5 07013,93005,4331,110880,8538,121531,6541,39381,5536
13,8600000US07014,NaN,ZCTA5 07014,96339,23035,107883,14117,108367,11472,73205,10662
14,8600000US07016,NaN,ZCTA5 07016,122848,8604,139989,8470,148674,7352,48509,10234
15,8600000US07017,NaN,ZCTA5 07017,41322,3668,54142,4506,74323,5014,27107,4248
16,8600000US07018,NaN,ZCTA5 07018,42335,2838,51356,3406,78098,11031,26993,2699
17,8600000US07020,NaN,ZCTA5 07020,103505,10646,128701,13056,137279,19281,76610,11742
18,8600000US07021,NaN,ZCTA5 07021,198750,25539,208750,30770,219167,33535,74583,18527
19,8600000US07022,NaN,ZCTA5 07022,56057,3131,63926,15422,79907,10766,31141,7454
20,8600000US07023,NaN,ZCTA5 07023,132292,27290,155880,15438,169032,12670,56420,17219
21,8600000US07024,NaN,ZCTA5 07024,76623,4684,100808,7492,112579,9158,50588,6063
22,8600000US07026,NaN,ZCTA5 07026,54037,2761,60321,3177,67656,7677,31402,6459
23,8600000US07027,NaN,ZCTA5 07027,79063,13277,88977,15284,96146,24432,55050,26824
24,8600000US07028,NaN,ZCTA5 07028,195714,24595,209595,14539,212534,25055,68716,15544
25,8600000US07029,NaN,ZCTA5 07029,61084,3148,59797,4259,71522,4636,52813,7452
26,8600000US07030,NaN,ZCTA5 07030,127523,4550,185784,8220,215978,13323,103326,3417
27,8600000US07031,NaN,ZCTA5 07031,74481,8135,89984,11420,106081,13167,39730,7371
28,8600000US07032,NaN,ZCTA5 07032,63222,3420,67709,3426,79677,3531,40607,5780
29,8600000US07033,NaN,ZCTA5 07033,108281,9325,114806,9921,122699,12394,61181,29923
...,...,...,...,...,...,...,...,...,...,...,...
571,8600000US08852,NaN,ZCTA5 08852,101928,8417,113455,7756,123570,7158,70218,21369
572,8600000US08853,NaN,ZCTA5 08853,130352,14547,145708,22284,151444,13010,49976,11416
573,8600000US08854,NaN,ZCTA5 08854,89617,3973,103908,6786,120634,6861,50481,4695
574,8600000US08857,NaN,ZCTA5 08857,93650,5086,112786,3352,118169,7042,51211,2649
575,8600000US08858,NaN,ZCTA5 08858,-,**,-,**,-,**,-,**
576,8600000US08859,NaN,ZCTA5 08859,83389,3744,96504,7145,106021,4492,51083,9436
577,8600000US08861,NaN,ZCTA5 08861,51389,2091,54803,2110,69892,4396,30324,4290
578,8600000US08863,NaN,ZCTA5 08863,87357,5970,94707,5914,104183,7801,49324,7902
579,8600000US08865,NaN,ZCTA5 08865,60887,3159,73893,3632,87437,5649,35600,4826
580,8600000US08867,NaN,ZCTA5 08867,125694,22109,147885,13830,146818,15300,66838,22124
581,8600000US08869,NaN,ZCTA5 08869,78974,6086,95060,16977,109410,12087,52109,13345
582,8600000US08872,NaN,ZCTA5 08872,74985,2684,85711,5836,98526,6616,41321,3540
583,8600000US08873,NaN,ZCTA5 08873,90555,4372,105698,4967,122869,5766,50333,6386
584,8600000US08876,NaN,ZCTA5 08876,91324,4191,112962,4992,125197,6021,55597,5217
585,8600000US08879,NaN,ZCTA5 08879,68693,6503,82882,7735,92701,7719,48125,5107
586,8600000US08880,NaN,ZCTA5 08880,81545,5561,83438,9736,93088,23411,51831,11084
587,8600000US08882,NaN,ZCTA5 08882,62179,3797,81372,12155,86003,10769,33822,10134
588,8600000US08884,NaN,ZCTA5 08884,75226,6540,102870,3389,106765,7342,28218,6530
589,8600000US08886,NaN,ZCTA5 08886,106012,7090,111859,6222,121953,17161,51750,24376
590,8600000US08887,NaN,ZCTA5 08887,83750,9103,98125,14476,108413,37747,67083,19769
591,8600000US08889,NaN,ZCTA5 08889,134387,7469,160542,17206,171797,27019,57389,11175
592,8600000US08890,NaN,ZCTA5 08890,-,**,-,**,-,**,-,**
593,8600000US08901,NaN,ZCTA5 08901,38413,4458,38472,5106,58125,4817,27975,4842
594,8600000US08902,NaN,ZCTA5 08902,88512,5114,102844,6631,125446,5250,53321,8022
595,8600000US08904,NaN,ZCTA5 08904,75913,7369,88147,8204,104565,10963,48702,14605
596,8600000US10969,NaN,ZCTA5 10969,83333,30786,101061,14724,107917,29902,25000,8079
597,8600000US10983,NaN,ZCTA5 10983,112831,11830,120786,13146,141555,17117,57000,28210
598,8600000US10990,NaN,ZCTA5 10990,94091,8645,110858,8840,124754,8023,39100,11159
599,8600000US18042,NaN,ZCTA5 18042,53291,3021,64773,4026,80795,4642,35117,3744
600,8600000US18343,NaN,ZCTA5 18343,66757,9211,77051,10369,80851,14076,50313,16642

In [4]:
# Select desired columns for data frame
IncomeZip_df = IncomeZip_df[['GEO.display-label', 'HC01_EST_VC13']]

In [6]:
IncomeZip_df

    GEO.display-label                                  HC01_EST_VC13
0           Geography  Households; Estimate; Median income (dollars)
1         ZCTA5 07001                                          68426
2         ZCTA5 07002                                          56701
3         ZCTA5 07003                                          74961
4         ZCTA5 07004                                         107417
5         ZCTA5 07005                                         109888
6         ZCTA5 07006                                         114096
7         ZCTA5 07008                                          73892
8         ZCTA5 07009                                         115926
9         ZCTA5 07010                                          67799
10        ZCTA5 07011                                          56285
11        ZCTA5 07012                                          86472
12        ZCTA5 07013                                          93005
13        ZCTA5 07014                                          96339
14        ZCTA5 07016                                         122848
15        ZCTA5 07017                                          41322
16        ZCTA5 07018                                          42335
17        ZCTA5 07020                                         103505
18        ZCTA5 07021                                         198750
19        ZCTA5 07022                                          56057
20        ZCTA5 07023                                         132292
21        ZCTA5 07024                                          76623
22        ZCTA5 07026                                          54037
23        ZCTA5 07027                                          79063
24        ZCTA5 07028                                         195714
25        ZCTA5 07029                                          61084
26        ZCTA5 07030                                         127523
27        ZCTA5 07031                                          74481
28        ZCTA5 07032                                          63222
29        ZCTA5 07033                                         108281
..                ...                                            ...
571       ZCTA5 08852                                         101928
572       ZCTA5 08853                                         130352
573       ZCTA5 08854                                          89617
574       ZCTA5 08857                                          93650
575       ZCTA5 08858                                              -
576       ZCTA5 08859                                          83389
577       ZCTA5 08861                                          51389
578       ZCTA5 08863                                          87357
579       ZCTA5 08865                                          60887
580       ZCTA5 08867                                         125694
581       ZCTA5 08869                                          78974
582       ZCTA5 08872                                          74985
583       ZCTA5 08873                                          90555
584       ZCTA5 08876                                          91324
585       ZCTA5 08879                                          68693
586       ZCTA5 08880                                          81545
587       ZCTA5 08882                                          62179
588       ZCTA5 08884                                          75226
589       ZCTA5 08886                                         106012
590       ZCTA5 08887                                          83750
591       ZCTA5 08889                                         134387
592       ZCTA5 08890                                              -
593       ZCTA5 08901                                          38413
594       ZCTA5 08902                                          88512
595       ZCTA5 08904                                          75913
596       ZCTA5 10969                                          83333
597       ZCTA5 10983                                         112831
598       ZCTA5 10990                                          94091
599       ZCTA5 18042                                          53291
600       ZCTA5 18343                                          66757

[601 rows x 2 columns]

In [7]:
#Rename columns 
IncomeZip_df = IncomeZip_df.rename( index=str, columns = {"GEO.display-label": "Zip Code","HC01_EST_VC13": "AVG_INCOME"})

In [9]:
#Show data stypes
IncomeZip_df.dtypes

Zip Code      object
AVG_INCOME    object
dtype: object

In [10]:
# Verify no missing data
IncomeZip_df.isnull().sum()

# Drop any duplicate rows
IncomeZip_df[IncomeZip_df.duplicated(['Zip Code'])]

Empty DataFrame
Columns: [Zip Code, AVG_INCOME]
Index: []

In [11]:
# Identify Unique values
IncomeZip_df.AVG_INCOME.unique()

array(['Households; Estimate; Median income (dollars)', '68426', '56701',
       '74961', '107417', '109888', '114096', '73892', '115926', '67799',
       '56285', '86472', '93005', '96339', '122848', '41322', '42335',
       '103505', '198750', '56057', '132292', '76623', '54037', '79063',
       '195714', '61084', '127523', '74481', '63222', '108281', '82626',
       '92075', '66166', '153381', '125036', '104786', '97920', '191449',
       '110745', '162798', '175556', '57269', '38506', '93954', '90355',
       '34958', '62648', '114229', '154429', '57959', '67664', '72440',
       '81912', '69932', '100000', '103205', '110208', '122434', '93787',
       '73218', '89419', '77400', '59700', '102283', '117765', '76389',
       '250,000+', '121637', '91250', '110547', '116615', '81359',
       '84841', '43407', '50299', '159923', '129405', '51509', '99883',
       '80196', '24353', '27859', '36547', '45227', '37421', '30779',
       '25192', '67782', '94128', '39734', '35765', '26326', '44655',
       '44867', '52480', '67300', '65717', '43429', '46572', '113898',
       '45870', '49453', '51197', '59744', '147357', '189750', '151875',
       '80872', '113281', '76907', '109747', '59477', '155458', '128438',
       '85225', '80614', '90412', '86250', '176518', '79302', '107215',
       '105313', '124500', '112944', '106035', '84167', '104236', '92952',
       '91060', '137331', '162201', '162443', '115399', '100602',
       '176455', '96176', '84676', '88223', '115591', '85545', '108092',
       '100963', '147463', '-', '26691', '52292', '40368', '58125',
       '26198', '93675', '77128', '97729', '39665', '39951', '30902',
       '35397', '59277', '79356', '87800', '89744', '66094', '86100',
       '118068', '90962', '130815', '136250', '149271', '94617', '111536',
       '80489', '134904', '127188', '170417', '124844', '61341', '57188',
       '120060', '84025', '93925', '125417', '137583', '64538', '105114',
       '106875', '66690', '72191', '123590', '78333', '94177', '106411',
       '153906', '119748', '128203', '161250', '84520', '122321',
       '158264', '137625', '60869', '91012', '78323', '102542', '92414',
       '61209', '68350', '166706', '77778', '79868', '106678', '86037',
       '98194', '102961', '60817', '152294', '54092', '66782', '91042',
       '132222', '144250', '55038', '144588', '99825', '113676', '110380',
       '145118', '64774', '90192', '60000', '107571', '92879', '138917',
       '77500', '69028', '84904', '106515', '70156', '60938', '91903',
       '81569', '69688', '77375', '124659', '86944', '116273', '107128',
       '107757', '77931', '78694', '207969', '108836', '78472', '87212',
       '91164', '101250', '92792', '154135', '91563', '56016', '82716',
       '85720', '118654', '102712', '126290', '131813', '90613', '124854',
       '106481', '132054', '90304', '79222', '128097', '135365', '104328',
       '146674', '150246', '106458', '173929', '138328', '186571',
       '122843', '142542', '150250', '121769', '128116', '171571',
       '152750', '120095', '114844', '233750', '146776', '116019',
       '74063', '130913', '122716', '112534', '68750', '78812', '122591',
       '87885', '70564', '67750', '70152', '82047', '81354', '64085',
       '71865', '107838', '65531', '74626', '95809', '85519', '50262',
       '89770', '28785', '84625', '70255', '67875', '55435', '52136',
       '49713', '111939', '91362', '88667', '97051', '71798', '49583',
       '68676', '110500', '85164', '63494', '70929', '84347', '55250',
       '75981', '79032', '57460', '94395', '92826', '112267', '158359',
       '132713', '73211', '79475', '144258', '125926', '62545', '68307',
       '49303', '78239', '58574', '49176', '62417', '74492', '66346',
       '193583', '79486', '97602', '61210', '42357', '97452', '83694',
       '69783', '72652', '111318', '78609', '63832', '77303', '63027',
       '87019', '59122', '81406', '54460', '73848', '68785', '79281',
       '85218', '20529', '22500', '22289', '34750', '74866', '54736',
       '88937', '68567', '65648', '87273', '65724', '67186', '63194',
       '70009', '46964', '63724', '91861', '73696', '61974', '73586',
       '72715', '81698', '40196', '78324', '102375', '53496', '72153',
       '52767', '101484', '222031', '49184', '45471', '63471', '46862',
       '61458', '69444', '63698', '72083', '44519', '79363', '79692',
       '95662', '24773', '83596', '71250', '88571', '67958', '89167',
       '65288', '93098', '64266', '50220', '97583', '33470', '105329',
       '68405', '56339', '37074', '56838', '34821', '58077', '68500',
       '54375', '47098', '76237', '26006', '69896', '118393', '52799',
       '116895', '182837', '88865', '150050', '79583', '83958', '90104',
       '142197', '61500', '87401', '126141', '87995', '94740', '108185',
       '126108', '174205', '98883', '135975', '72977', '200049', '136765',
       '112917', '81273', '100556', '201964', '124088', '109973',
       '122697', '64464', '14740', '31881', '60620', '37248', '41920',
       '74056', '92629', '86315', '61058', '50754', '58750', '57500',
       '95537', '99837', '119659', '45321', '122826', '78496', '72815',
       '70174', '75988', '133493', '75333', '83929', '62262', '83086',
       '68224', '112836', '62813', '93750', '92579', '117950', '56667',
       '62464', '77119', '72674', '40767', '66692', '38212', '120435',
       '125494', '84375', '68125', '120065', '91157', '130203', '96463',
       '106039', '87688', '120911', '53859', '102851', '128623', '106858',
       '100931', '102928', '79702', '93026', '86875', '78920', '59009',
       '137063', '67080', '150994', '80423', '115785', '120173', '73196',
       '97319', '102664', '101928', '130352', '89617', '93650', '83389',
       '51389', '87357', '60887', '125694', '78974', '74985', '90555',
       '91324', '68693', '81545', '62179', '75226', '106012', '83750',
       '134387', '38413', '88512', '75913', '83333', '112831', '94091',
       '53291', '66757'], dtype=object)

In [12]:
# replace unique values
IncomeZip_df = IncomeZip_df.replace("-", None)

In [14]:
# Split the DIST_Name Column into new df
temp_df = IncomeZip_df["Zip Code"].str.split(" ", n = 1, expand = True)

In [15]:
temp_df

             0      1
0    Geography   None
1        ZCTA5  07001
2        ZCTA5  07002
3        ZCTA5  07003
4        ZCTA5  07004
5        ZCTA5  07005
6        ZCTA5  07006
7        ZCTA5  07008
8        ZCTA5  07009
9        ZCTA5  07010
10       ZCTA5  07011
11       ZCTA5  07012
12       ZCTA5  07013
13       ZCTA5  07014
14       ZCTA5  07016
15       ZCTA5  07017
16       ZCTA5  07018
17       ZCTA5  07020
18       ZCTA5  07021
19       ZCTA5  07022
20       ZCTA5  07023
21       ZCTA5  07024
22       ZCTA5  07026
23       ZCTA5  07027
24       ZCTA5  07028
25       ZCTA5  07029
26       ZCTA5  07030
27       ZCTA5  07031
28       ZCTA5  07032
29       ZCTA5  07033
..         ...    ...
571      ZCTA5  08852
572      ZCTA5  08853
573      ZCTA5  08854
574      ZCTA5  08857
575      ZCTA5  08858
576      ZCTA5  08859
577      ZCTA5  08861
578      ZCTA5  08863
579      ZCTA5  08865
580      ZCTA5  08867
581      ZCTA5  08869
582      ZCTA5  08872
583      ZCTA5  08873
584      ZCTA5  08876
585      ZCTA5  08879
586      ZCTA5  08880
587      ZCTA5  08882
588      ZCTA5  08884
589      ZCTA5  08886
590      ZCTA5  08887
591      ZCTA5  08889
592      ZCTA5  08890
593      ZCTA5  08901
594      ZCTA5  08902
595      ZCTA5  08904
596      ZCTA5  10969
597      ZCTA5  10983
598      ZCTA5  10990
599      ZCTA5  18042
600      ZCTA5  18343

[601 rows x 2 columns]

In [18]:
# Combine split dataframe to reflect the info needed to display
IncomeZip_df["Zip Code"] = temp_df[1]

In [19]:
IncomeZip_df

    Zip Code                                     AVG_INCOME
0       None  Households; Estimate; Median income (dollars)
1      07001                                          68426
2      07002                                          56701
3      07003                                          74961
4      07004                                         107417
5      07005                                         109888
6      07006                                         114096
7      07008                                          73892
8      07009                                         115926
9      07010                                          67799
10     07011                                          56285
11     07012                                          86472
12     07013                                          93005
13     07014                                          96339
14     07016                                         122848
15     07017                                          41322
16     07018                                          42335
17     07020                                         103505
18     07021                                         198750
19     07022                                          56057
20     07023                                         132292
21     07024                                          76623
22     07026                                          54037
23     07027                                          79063
24     07028                                         195714
25     07029                                          61084
26     07030                                         127523
27     07031                                          74481
28     07032                                          63222
29     07033                                         108281
..       ...                                            ...
571    08852                                         101928
572    08853                                         130352
573    08854                                          89617
574    08857                                          93650
575    08858                                          93650
576    08859                                          83389
577    08861                                          51389
578    08863                                          87357
579    08865                                          60887
580    08867                                         125694
581    08869                                          78974
582    08872                                          74985
583    08873                                          90555
584    08876                                          91324
585    08879                                          68693
586    08880                                          81545
587    08882                                          62179
588    08884                                          75226
589    08886                                         106012
590    08887                                          83750
591    08889                                         134387
592    08890                                         134387
593    08901                                          38413
594    08902                                          88512
595    08904                                          75913
596    10969                                          83333
597    10983                                         112831
598    10990                                          94091
599    18042                                          53291
600    18343                                          66757

[601 rows x 2 columns]

In [21]:
# Drop the first row
IncomeZip_df = IncomeZip_df.drop(IncomeZip_df.index[0])

In [22]:
IncomeZip_df

    Zip Code AVG_INCOME
1      07001      68426
2      07002      56701
3      07003      74961
4      07004     107417
5      07005     109888
6      07006     114096
7      07008      73892
8      07009     115926
9      07010      67799
10     07011      56285
11     07012      86472
12     07013      93005
13     07014      96339
14     07016     122848
15     07017      41322
16     07018      42335
17     07020     103505
18     07021     198750
19     07022      56057
20     07023     132292
21     07024      76623
22     07026      54037
23     07027      79063
24     07028     195714
25     07029      61084
26     07030     127523
27     07031      74481
28     07032      63222
29     07033     108281
30     07034      82626
..       ...        ...
571    08852     101928
572    08853     130352
573    08854      89617
574    08857      93650
575    08858      93650
576    08859      83389
577    08861      51389
578    08863      87357
579    08865      60887
580    08867     125694
581    08869      78974
582    08872      74985
583    08873      90555
584    08876      91324
585    08879      68693
586    08880      81545
587    08882      62179
588    08884      75226
589    08886     106012
590    08887      83750
591    08889     134387
592    08890     134387
593    08901      38413
594    08902      88512
595    08904      75913
596    10969      83333
597    10983     112831
598    10990      94091
599    18042      53291
600    18343      66757

[600 rows x 2 columns]

In [23]:
IncomeZip_df.dtypes

Zip Code      object
AVG_INCOME    object
dtype: object

In [25]:
# Change AVG_Income column to interger value
IncomeZip_df.AVG_INCOME.unique()

array(['68426', '56701', '74961', '107417', '109888', '114096', '73892',
       '115926', '67799', '56285', '86472', '93005', '96339', '122848',
       '41322', '42335', '103505', '198750', '56057', '132292', '76623',
       '54037', '79063', '195714', '61084', '127523', '74481', '63222',
       '108281', '82626', '92075', '66166', '153381', '125036', '104786',
       '97920', '191449', '110745', '162798', '175556', '57269', '38506',
       '93954', '90355', '34958', '62648', '114229', '154429', '57959',
       '67664', '72440', '81912', '69932', '100000', '103205', '110208',
       '122434', '93787', '73218', '89419', '77400', '59700', '102283',
       '117765', '76389', '250,000+', '121637', '91250', '110547',
       '116615', '81359', '84841', '43407', '50299', '159923', '129405',
       '51509', '99883', '80196', '24353', '27859', '36547', '45227',
       '37421', '30779', '25192', '67782', '94128', '39734', '35765',
       '26326', '44655', '44867', '52480', '67300', '65717', '43429',
       '46572', '113898', '45870', '49453', '51197', '59744', '147357',
       '189750', '151875', '80872', '113281', '76907', '109747', '59477',
       '155458', '128438', '85225', '80614', '90412', '86250', '176518',
       '79302', '107215', '105313', '124500', '112944', '106035', '84167',
       '104236', '92952', '91060', '137331', '162201', '162443', '115399',
       '100602', '176455', '96176', '84676', '88223', '115591', '85545',
       '108092', '100963', '147463', '26691', '52292', '40368', '58125',
       '26198', '93675', '77128', '97729', '39665', '39951', '30902',
       '35397', '59277', '79356', '87800', '89744', '66094', '86100',
       '118068', '90962', '130815', '136250', '149271', '94617', '111536',
       '80489', '134904', '127188', '170417', '124844', '61341', '57188',
       '120060', '84025', '93925', '125417', '137583', '64538', '105114',
       '106875', '66690', '72191', '123590', '78333', '94177', '106411',
       '153906', '119748', '128203', '161250', '84520', '122321',
       '158264', '137625', '60869', '91012', '78323', '102542', '92414',
       '61209', '68350', '166706', '77778', '79868', '106678', '86037',
       '98194', '102961', '60817', '152294', '54092', '66782', '91042',
       '132222', '144250', '55038', '144588', '99825', '113676', '110380',
       '145118', '64774', '90192', '60000', '107571', '92879', '138917',
       '77500', '69028', '84904', '106515', '70156', '60938', '91903',
       '81569', '69688', '77375', '124659', '86944', '116273', '107128',
       '107757', '77931', '78694', '207969', '108836', '78472', '87212',
       '91164', '101250', '92792', '154135', '91563', '56016', '82716',
       '85720', '118654', '102712', '126290', '131813', '90613', '124854',
       '106481', '132054', '90304', '79222', '128097', '135365', '104328',
       '146674', '150246', '106458', '173929', '138328', '186571',
       '122843', '142542', '150250', '121769', '128116', '171571',
       '152750', '120095', '114844', '233750', '146776', '116019',
       '74063', '130913', '122716', '112534', '68750', '78812', '122591',
       '87885', '70564', '67750', '70152', '82047', '81354', '64085',
       '71865', '107838', '65531', '74626', '95809', '85519', '50262',
       '89770', '28785', '84625', '70255', '67875', '55435', '52136',
       '49713', '111939', '91362', '88667', '97051', '71798', '49583',
       '68676', '110500', '85164', '63494', '70929', '84347', '55250',
       '75981', '79032', '57460', '94395', '92826', '112267', '158359',
       '132713', '73211', '79475', '144258', '125926', '62545', '68307',
       '49303', '78239', '58574', '49176', '62417', '74492', '66346',
       '193583', '79486', '97602', '61210', '42357', '97452', '83694',
       '69783', '72652', '111318', '78609', '63832', '77303', '63027',
       '87019', '59122', '81406', '54460', '73848', '68785', '79281',
       '85218', '20529', '22500', '22289', '34750', '74866', '54736',
       '88937', '68567', '65648', '87273', '65724', '67186', '63194',
       '70009', '46964', '63724', '91861', '73696', '61974', '73586',
       '72715', '81698', '40196', '78324', '102375', '53496', '72153',
       '52767', '101484', '222031', '49184', '45471', '63471', '46862',
       '61458', '69444', '63698', '72083', '44519', '79363', '79692',
       '95662', '24773', '83596', '71250', '88571', '67958', '89167',
       '65288', '93098', '64266', '50220', '97583', '33470', '105329',
       '68405', '56339', '37074', '56838', '34821', '58077', '68500',
       '54375', '47098', '76237', '26006', '69896', '118393', '52799',
       '116895', '182837', '88865', '150050', '79583', '83958', '90104',
       '142197', '61500', '87401', '126141', '87995', '94740', '108185',
       '126108', '174205', '98883', '135975', '72977', '200049', '136765',
       '112917', '81273', '100556', '201964', '124088', '109973',
       '122697', '64464', '14740', '31881', '60620', '37248', '41920',
       '74056', '92629', '86315', '61058', '50754', '58750', '57500',
       '95537', '99837', '119659', '45321', '122826', '78496', '72815',
       '70174', '75988', '133493', '75333', '83929', '62262', '83086',
       '68224', '112836', '62813', '93750', '92579', '117950', '56667',
       '62464', '77119', '72674', '40767', '66692', '38212', '120435',
       '125494', '84375', '68125', '120065', '91157', '130203', '96463',
       '106039', '87688', '120911', '53859', '102851', '128623', '106858',
       '100931', '102928', '79702', '93026', '86875', '78920', '59009',
       '137063', '67080', '150994', '80423', '115785', '120173', '73196',
       '97319', '102664', '101928', '130352', '89617', '93650', '83389',
       '51389', '87357', '60887', '125694', '78974', '74985', '90555',
       '91324', '68693', '81545', '62179', '75226', '106012', '83750',
       '134387', '38413', '88512', '75913', '83333', '112831', '94091',
       '53291', '66757'], dtype=object)

In [26]:
IncomeZip_df = IncomeZip_df.replace("250,000+", None)

In [27]:
IncomeZip_df.AVG_INCOME.unique()

array(['68426', '56701', '74961', '107417', '109888', '114096', '73892',
       '115926', '67799', '56285', '86472', '93005', '96339', '122848',
       '41322', '42335', '103505', '198750', '56057', '132292', '76623',
       '54037', '79063', '195714', '61084', '127523', '74481', '63222',
       '108281', '82626', '92075', '66166', '153381', '125036', '104786',
       '97920', '191449', '110745', '162798', '175556', '57269', '38506',
       '93954', '90355', '34958', '62648', '114229', '154429', '57959',
       '67664', '72440', '81912', '69932', '100000', '103205', '110208',
       '122434', '93787', '73218', '89419', '77400', '59700', '102283',
       '117765', '76389', '121637', '91250', '110547', '116615', '81359',
       '84841', '43407', '50299', '159923', '129405', '51509', '99883',
       '80196', '24353', '27859', '36547', '45227', '37421', '30779',
       '25192', '67782', '94128', '39734', '35765', '26326', '44655',
       '44867', '52480', '67300', '65717', '43429', '46572', '113898',
       '45870', '49453', '51197', '59744', '147357', '189750', '151875',
       '80872', '113281', '76907', '109747', '59477', '155458', '128438',
       '85225', '80614', '90412', '86250', '176518', '79302', '107215',
       '105313', '124500', '112944', '106035', '84167', '104236', '92952',
       '91060', '137331', '162201', '162443', '115399', '100602',
       '176455', '96176', '84676', '88223', '115591', '85545', '108092',
       '100963', '147463', '26691', '52292', '40368', '58125', '26198',
       '93675', '77128', '97729', '39665', '39951', '30902', '35397',
       '59277', '79356', '87800', '89744', '66094', '86100', '118068',
       '90962', '130815', '136250', '149271', '94617', '111536', '80489',
       '134904', '127188', '170417', '124844', '61341', '57188', '120060',
       '84025', '93925', '125417', '137583', '64538', '105114', '106875',
       '66690', '72191', '123590', '78333', '94177', '106411', '153906',
       '119748', '128203', '161250', '84520', '122321', '158264',
       '137625', '60869', '91012', '78323', '102542', '92414', '61209',
       '68350', '166706', '77778', '79868', '106678', '86037', '98194',
       '102961', '60817', '152294', '54092', '66782', '91042', '132222',
       '144250', '55038', '144588', '99825', '113676', '110380', '145118',
       '64774', '90192', '60000', '107571', '92879', '138917', '77500',
       '69028', '84904', '106515', '70156', '60938', '91903', '81569',
       '69688', '77375', '124659', '86944', '116273', '107128', '107757',
       '77931', '78694', '207969', '108836', '78472', '87212', '91164',
       '101250', '92792', '154135', '91563', '56016', '82716', '85720',
       '118654', '102712', '126290', '131813', '90613', '124854',
       '106481', '132054', '90304', '79222', '128097', '135365', '104328',
       '146674', '150246', '106458', '173929', '138328', '186571',
       '122843', '142542', '150250', '121769', '128116', '171571',
       '152750', '120095', '114844', '233750', '146776', '116019',
       '74063', '130913', '122716', '112534', '68750', '78812', '122591',
       '87885', '70564', '67750', '70152', '82047', '81354', '64085',
       '71865', '107838', '65531', '74626', '95809', '85519', '50262',
       '89770', '28785', '84625', '70255', '67875', '55435', '52136',
       '49713', '111939', '91362', '88667', '97051', '71798', '49583',
       '68676', '110500', '85164', '63494', '70929', '84347', '55250',
       '75981', '79032', '57460', '94395', '92826', '112267', '158359',
       '132713', '73211', '79475', '144258', '125926', '62545', '68307',
       '49303', '78239', '58574', '49176', '62417', '74492', '66346',
       '193583', '79486', '97602', '61210', '42357', '97452', '83694',
       '69783', '72652', '111318', '78609', '63832', '77303', '63027',
       '87019', '59122', '81406', '54460', '73848', '68785', '79281',
       '85218', '20529', '22500', '22289', '34750', '74866', '54736',
       '88937', '68567', '65648', '87273', '65724', '67186', '63194',
       '70009', '46964', '63724', '91861', '73696', '61974', '73586',
       '72715', '81698', '40196', '78324', '102375', '53496', '72153',
       '52767', '101484', '222031', '49184', '45471', '63471', '46862',
       '61458', '69444', '63698', '72083', '44519', '79363', '79692',
       '95662', '24773', '83596', '71250', '88571', '67958', '89167',
       '65288', '93098', '64266', '50220', '97583', '33470', '105329',
       '68405', '56339', '37074', '56838', '34821', '58077', '68500',
       '54375', '47098', '76237', '26006', '69896', '118393', '52799',
       '116895', '182837', '88865', '150050', '79583', '83958', '90104',
       '142197', '61500', '87401', '126141', '87995', '94740', '108185',
       '126108', '174205', '98883', '135975', '72977', '200049', '136765',
       '112917', '81273', '100556', '201964', '124088', '109973',
       '122697', '64464', '14740', '31881', '60620', '37248', '41920',
       '74056', '92629', '86315', '61058', '50754', '58750', '57500',
       '95537', '99837', '119659', '45321', '122826', '78496', '72815',
       '70174', '75988', '133493', '75333', '83929', '62262', '83086',
       '68224', '112836', '62813', '93750', '92579', '117950', '56667',
       '62464', '77119', '72674', '40767', '66692', '38212', '120435',
       '125494', '84375', '68125', '120065', '91157', '130203', '96463',
       '106039', '87688', '120911', '53859', '102851', '128623', '106858',
       '100931', '102928', '79702', '93026', '86875', '78920', '59009',
       '137063', '67080', '150994', '80423', '115785', '120173', '73196',
       '97319', '102664', '101928', '130352', '89617', '93650', '83389',
       '51389', '87357', '60887', '125694', '78974', '74985', '90555',
       '91324', '68693', '81545', '62179', '75226', '106012', '83750',
       '134387', '38413', '88512', '75913', '83333', '112831', '94091',
       '53291', '66757'], dtype=object)

In [29]:
# Change Income column to interger value
IncomeZip_df["AVG_INCOME"] = IncomeZip_df["AVG_INCOME"].astype('int64')
IncomeZip_df["Zip Code"] = IncomeZip_df["Zip Code"].astype('int64')

In [30]:
IncomeZip_df.dtypes

Zip Code      int64
AVG_INCOME    int64
dtype: object

In [31]:
IncomeZip_df

     Zip Code  AVG_INCOME
1        7001       68426
2        7002       56701
3        7003       74961
4        7004      107417
5        7005      109888
6        7006      114096
7        7008       73892
8        7009      115926
9        7010       67799
10       7011       56285
11       7012       86472
12       7013       93005
13       7014       96339
14       7016      122848
15       7017       41322
16       7018       42335
17       7020      103505
18       7021      198750
19       7022       56057
20       7023      132292
21       7024       76623
22       7026       54037
23       7027       79063
24       7028      195714
25       7029       61084
26       7030      127523
27       7031       74481
28       7032       63222
29       7033      108281
30       7034       82626
..        ...         ...
571      8852      101928
572      8853      130352
573      8854       89617
574      8857       93650
575      8858       93650
576      8859       83389
577      8861       51389
578      8863       87357
579      8865       60887
580      8867      125694
581      8869       78974
582      8872       74985
583      8873       90555
584      8876       91324
585      8879       68693
586      8880       81545
587      8882       62179
588      8884       75226
589      8886      106012
590      8887       83750
591      8889      134387
592      8890      134387
593      8901       38413
594      8902       88512
595      8904       75913
596     10969       83333
597     10983      112831
598     10990       94091
599     18042       53291
600     18343       66757

[600 rows x 2 columns]

In [34]:
IncomeZip_df["Zip Code"] = IncomeZip_df["Zip Code"].apply(lambda x: "{0:0>5}".format(x))

In [35]:
IncomeZip_df

    Zip Code  AVG_INCOME
1      07001       68426
2      07002       56701
3      07003       74961
4      07004      107417
5      07005      109888
6      07006      114096
7      07008       73892
8      07009      115926
9      07010       67799
10     07011       56285
11     07012       86472
12     07013       93005
13     07014       96339
14     07016      122848
15     07017       41322
16     07018       42335
17     07020      103505
18     07021      198750
19     07022       56057
20     07023      132292
21     07024       76623
22     07026       54037
23     07027       79063
24     07028      195714
25     07029       61084
26     07030      127523
27     07031       74481
28     07032       63222
29     07033      108281
30     07034       82626
..       ...         ...
571    08852      101928
572    08853      130352
573    08854       89617
574    08857       93650
575    08858       93650
576    08859       83389
577    08861       51389
578    08863       87357
579    08865       60887
580    08867      125694
581    08869       78974
582    08872       74985
583    08873       90555
584    08876       91324
585    08879       68693
586    08880       81545
587    08882       62179
588    08884       75226
589    08886      106012
590    08887       83750
591    08889      134387
592    08890      134387
593    08901       38413
594    08902       88512
595    08904       75913
596    10969       83333
597    10983      112831
598    10990       94091
599    18042       53291
600    18343       66757

[600 rows x 2 columns]

In [37]:
IncomeZip_df.dtypes

Zip Code      object
AVG_INCOME     int64
dtype: object

In [39]:
IncomeZip_df.describe()

          AVG_INCOME
count     600.000000
mean    90759.440000
std     35624.626103
min     14740.000000
25%     66604.000000
50%     85532.000000
75%    111372.500000
max    233750.000000

In [40]:
# Export data to .csv file
IncomeZip_df.to_csv(os.path.join('Data_temp', 'CleanZipCodeIncome.csv'))