In [12]:
#Import dependencies
import pandas as pd
import numpy as np
import os

In [49]:
# Import CSV and convert to dataframes
IncomeZip_df = pd.read_csv(os.path.join("Resources", "income_zip.csv"))
zip_df = pd.read_csv(os.path.join("Resources", "zip.csv"))

In [50]:
# Clean Income dataframe

# Select desired columns for data frame
IncomeZip_df = IncomeZip_df[['GEO.display-label', 'HC01_EST_VC13']]

#Rename columns 
IncomeZip_df = IncomeZip_df.rename( index=str, columns = {"GEO.display-label": "ZIP","HC01_EST_VC13": "MED_INCOME"})

# Verify no missing data
IncomeZip_df.isnull().sum()

# Find duplicate rows
IncomeZip_df[IncomeZip_df.duplicated(['ZIP'])]

#Verify correct data stypes
IncomeZip_df.dtypes

# Inspect data 
IncomeZip_df.MED_INCOME.unique()

IncomeZip_df = IncomeZip_df.replace("N", None)

# Replace missing values and invalid values with None
IncomeZip_df = IncomeZip_df.replace(["-", "250,000+"], None)

# Remove extra characters from zip code
temp_df = IncomeZip_df["ZIP"].str.split(" ", n = 1, expand = True)
IncomeZip_df["ZIP"] = temp_df[1]

# Drop the first row
IncomeZip_df = IncomeZip_df.drop(IncomeZip_df.index[0])

# Change income column to interger value
IncomeZip_df["MED_INCOME"] = IncomeZip_df["MED_INCOME"].astype('int64')
IncomeZip_df["ZIP"] = IncomeZip_df["ZIP"].astype('int64')

# Verify correct data types
IncomeZip_df.dtypes

ZIP           int64
MED_INCOME    int64
dtype: object

In [54]:
# Clean Zip code dataframe

# Get zip code column from income dataframe

zip_nj = IncomeZip_df["ZIP"]
zip_nj

1       7001
2       7002
3       7003
4       7004
5       7005
6       7006
7       7008
8       7009
9       7010
10      7011
11      7012
12      7013
13      7014
14      7016
15      7017
16      7018
17      7020
18      7021
19      7022
20      7023
21      7024
22      7026
23      7027
24      7028
25      7029
26      7030
27      7031
28      7032
29      7033
30      7034
       ...
571     8852
572     8853
573     8854
574     8857
575     8858
576     8859
577     8861
578     8863
579     8865
580     8867
581     8869
582     8872
583     8873
584     8876
585     8879
586     8880
587     8882
588     8884
589     8886
590     8887
591     8889
592     8890
593     8901
594     8902
595     8904
596    10969
597    10983
598    10990
599    18042
600    18343
Name: ZIP, Length: 600, dtype: int64

In [52]:
zip_df.dtypes

ZIP      int64
LAT    float64
LNG    float64
dtype: object

In [56]:
zip_df.join(IncomeZip_df, on="ZIP")

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
IncomeZip_df.dtypes

In [25]:
# Change AVG_Income column to interger value
IncomeZip_df.AVG_INCOME.unique()

array(['68426', '56701', '74961', '107417', '109888', '114096', '73892',
       '115926', '67799', '56285', '86472', '93005', '96339', '122848',
       '41322', '42335', '103505', '198750', '56057', '132292', '76623',
       '54037', '79063', '195714', '61084', '127523', '74481', '63222',
       '108281', '82626', '92075', '66166', '153381', '125036', '104786',
       '97920', '191449', '110745', '162798', '175556', '57269', '38506',
       '93954', '90355', '34958', '62648', '114229', '154429', '57959',
       '67664', '72440', '81912', '69932', '100000', '103205', '110208',
       '122434', '93787', '73218', '89419', '77400', '59700', '102283',
       '117765', '76389', '250,000+', '121637', '91250', '110547',
       '116615', '81359', '84841', '43407', '50299', '159923', '129405',
       '51509', '99883', '80196', '24353', '27859', '36547', '45227',
       '37421', '30779', '25192', '67782', '94128', '39734', '35765',
       '26326', '44655', '44867', '52480', '67300', '65717', '43429',
       '46572', '113898', '45870', '49453', '51197', '59744', '147357',
       '189750', '151875', '80872', '113281', '76907', '109747', '59477',
       '155458', '128438', '85225', '80614', '90412', '86250', '176518',
       '79302', '107215', '105313', '124500', '112944', '106035', '84167',
       '104236', '92952', '91060', '137331', '162201', '162443', '115399',
       '100602', '176455', '96176', '84676', '88223', '115591', '85545',
       '108092', '100963', '147463', '26691', '52292', '40368', '58125',
       '26198', '93675', '77128', '97729', '39665', '39951', '30902',
       '35397', '59277', '79356', '87800', '89744', '66094', '86100',
       '118068', '90962', '130815', '136250', '149271', '94617', '111536',
       '80489', '134904', '127188', '170417', '124844', '61341', '57188',
       '120060', '84025', '93925', '125417', '137583', '64538', '105114',
       '106875', '66690', '72191', '123590', '78333', '94177', '106411',
       '153906', '119748', '128203', '161250', '84520', '122321',
       '158264', '137625', '60869', '91012', '78323', '102542', '92414',
       '61209', '68350', '166706', '77778', '79868', '106678', '86037',
       '98194', '102961', '60817', '152294', '54092', '66782', '91042',
       '132222', '144250', '55038', '144588', '99825', '113676', '110380',
       '145118', '64774', '90192', '60000', '107571', '92879', '138917',
       '77500', '69028', '84904', '106515', '70156', '60938', '91903',
       '81569', '69688', '77375', '124659', '86944', '116273', '107128',
       '107757', '77931', '78694', '207969', '108836', '78472', '87212',
       '91164', '101250', '92792', '154135', '91563', '56016', '82716',
       '85720', '118654', '102712', '126290', '131813', '90613', '124854',
       '106481', '132054', '90304', '79222', '128097', '135365', '104328',
       '146674', '150246', '106458', '173929', '138328', '186571',
       '122843', '142542', '150250', '121769', '128116', '171571',
       '152750', '120095', '114844', '233750', '146776', '116019',
       '74063', '130913', '122716', '112534', '68750', '78812', '122591',
       '87885', '70564', '67750', '70152', '82047', '81354', '64085',
       '71865', '107838', '65531', '74626', '95809', '85519', '50262',
       '89770', '28785', '84625', '70255', '67875', '55435', '52136',
       '49713', '111939', '91362', '88667', '97051', '71798', '49583',
       '68676', '110500', '85164', '63494', '70929', '84347', '55250',
       '75981', '79032', '57460', '94395', '92826', '112267', '158359',
       '132713', '73211', '79475', '144258', '125926', '62545', '68307',
       '49303', '78239', '58574', '49176', '62417', '74492', '66346',
       '193583', '79486', '97602', '61210', '42357', '97452', '83694',
       '69783', '72652', '111318', '78609', '63832', '77303', '63027',
       '87019', '59122', '81406', '54460', '73848', '68785', '79281',
       '85218', '20529', '22500', '22289', '34750', '74866', '54736',
       '88937', '68567', '65648', '87273', '65724', '67186', '63194',
       '70009', '46964', '63724', '91861', '73696', '61974', '73586',
       '72715', '81698', '40196', '78324', '102375', '53496', '72153',
       '52767', '101484', '222031', '49184', '45471', '63471', '46862',
       '61458', '69444', '63698', '72083', '44519', '79363', '79692',
       '95662', '24773', '83596', '71250', '88571', '67958', '89167',
       '65288', '93098', '64266', '50220', '97583', '33470', '105329',
       '68405', '56339', '37074', '56838', '34821', '58077', '68500',
       '54375', '47098', '76237', '26006', '69896', '118393', '52799',
       '116895', '182837', '88865', '150050', '79583', '83958', '90104',
       '142197', '61500', '87401', '126141', '87995', '94740', '108185',
       '126108', '174205', '98883', '135975', '72977', '200049', '136765',
       '112917', '81273', '100556', '201964', '124088', '109973',
       '122697', '64464', '14740', '31881', '60620', '37248', '41920',
       '74056', '92629', '86315', '61058', '50754', '58750', '57500',
       '95537', '99837', '119659', '45321', '122826', '78496', '72815',
       '70174', '75988', '133493', '75333', '83929', '62262', '83086',
       '68224', '112836', '62813', '93750', '92579', '117950', '56667',
       '62464', '77119', '72674', '40767', '66692', '38212', '120435',
       '125494', '84375', '68125', '120065', '91157', '130203', '96463',
       '106039', '87688', '120911', '53859', '102851', '128623', '106858',
       '100931', '102928', '79702', '93026', '86875', '78920', '59009',
       '137063', '67080', '150994', '80423', '115785', '120173', '73196',
       '97319', '102664', '101928', '130352', '89617', '93650', '83389',
       '51389', '87357', '60887', '125694', '78974', '74985', '90555',
       '91324', '68693', '81545', '62179', '75226', '106012', '83750',
       '134387', '38413', '88512', '75913', '83333', '112831', '94091',
       '53291', '66757'], dtype=object)

In [26]:
IncomeZip_df = IncomeZip_df.replace("250,000+", None)

In [27]:
IncomeZip_df.AVG_INCOME.unique()

array(['68426', '56701', '74961', '107417', '109888', '114096', '73892',
       '115926', '67799', '56285', '86472', '93005', '96339', '122848',
       '41322', '42335', '103505', '198750', '56057', '132292', '76623',
       '54037', '79063', '195714', '61084', '127523', '74481', '63222',
       '108281', '82626', '92075', '66166', '153381', '125036', '104786',
       '97920', '191449', '110745', '162798', '175556', '57269', '38506',
       '93954', '90355', '34958', '62648', '114229', '154429', '57959',
       '67664', '72440', '81912', '69932', '100000', '103205', '110208',
       '122434', '93787', '73218', '89419', '77400', '59700', '102283',
       '117765', '76389', '121637', '91250', '110547', '116615', '81359',
       '84841', '43407', '50299', '159923', '129405', '51509', '99883',
       '80196', '24353', '27859', '36547', '45227', '37421', '30779',
       '25192', '67782', '94128', '39734', '35765', '26326', '44655',
       '44867', '52480', '67300', '65717', '43429', '46572', '113898',
       '45870', '49453', '51197', '59744', '147357', '189750', '151875',
       '80872', '113281', '76907', '109747', '59477', '155458', '128438',
       '85225', '80614', '90412', '86250', '176518', '79302', '107215',
       '105313', '124500', '112944', '106035', '84167', '104236', '92952',
       '91060', '137331', '162201', '162443', '115399', '100602',
       '176455', '96176', '84676', '88223', '115591', '85545', '108092',
       '100963', '147463', '26691', '52292', '40368', '58125', '26198',
       '93675', '77128', '97729', '39665', '39951', '30902', '35397',
       '59277', '79356', '87800', '89744', '66094', '86100', '118068',
       '90962', '130815', '136250', '149271', '94617', '111536', '80489',
       '134904', '127188', '170417', '124844', '61341', '57188', '120060',
       '84025', '93925', '125417', '137583', '64538', '105114', '106875',
       '66690', '72191', '123590', '78333', '94177', '106411', '153906',
       '119748', '128203', '161250', '84520', '122321', '158264',
       '137625', '60869', '91012', '78323', '102542', '92414', '61209',
       '68350', '166706', '77778', '79868', '106678', '86037', '98194',
       '102961', '60817', '152294', '54092', '66782', '91042', '132222',
       '144250', '55038', '144588', '99825', '113676', '110380', '145118',
       '64774', '90192', '60000', '107571', '92879', '138917', '77500',
       '69028', '84904', '106515', '70156', '60938', '91903', '81569',
       '69688', '77375', '124659', '86944', '116273', '107128', '107757',
       '77931', '78694', '207969', '108836', '78472', '87212', '91164',
       '101250', '92792', '154135', '91563', '56016', '82716', '85720',
       '118654', '102712', '126290', '131813', '90613', '124854',
       '106481', '132054', '90304', '79222', '128097', '135365', '104328',
       '146674', '150246', '106458', '173929', '138328', '186571',
       '122843', '142542', '150250', '121769', '128116', '171571',
       '152750', '120095', '114844', '233750', '146776', '116019',
       '74063', '130913', '122716', '112534', '68750', '78812', '122591',
       '87885', '70564', '67750', '70152', '82047', '81354', '64085',
       '71865', '107838', '65531', '74626', '95809', '85519', '50262',
       '89770', '28785', '84625', '70255', '67875', '55435', '52136',
       '49713', '111939', '91362', '88667', '97051', '71798', '49583',
       '68676', '110500', '85164', '63494', '70929', '84347', '55250',
       '75981', '79032', '57460', '94395', '92826', '112267', '158359',
       '132713', '73211', '79475', '144258', '125926', '62545', '68307',
       '49303', '78239', '58574', '49176', '62417', '74492', '66346',
       '193583', '79486', '97602', '61210', '42357', '97452', '83694',
       '69783', '72652', '111318', '78609', '63832', '77303', '63027',
       '87019', '59122', '81406', '54460', '73848', '68785', '79281',
       '85218', '20529', '22500', '22289', '34750', '74866', '54736',
       '88937', '68567', '65648', '87273', '65724', '67186', '63194',
       '70009', '46964', '63724', '91861', '73696', '61974', '73586',
       '72715', '81698', '40196', '78324', '102375', '53496', '72153',
       '52767', '101484', '222031', '49184', '45471', '63471', '46862',
       '61458', '69444', '63698', '72083', '44519', '79363', '79692',
       '95662', '24773', '83596', '71250', '88571', '67958', '89167',
       '65288', '93098', '64266', '50220', '97583', '33470', '105329',
       '68405', '56339', '37074', '56838', '34821', '58077', '68500',
       '54375', '47098', '76237', '26006', '69896', '118393', '52799',
       '116895', '182837', '88865', '150050', '79583', '83958', '90104',
       '142197', '61500', '87401', '126141', '87995', '94740', '108185',
       '126108', '174205', '98883', '135975', '72977', '200049', '136765',
       '112917', '81273', '100556', '201964', '124088', '109973',
       '122697', '64464', '14740', '31881', '60620', '37248', '41920',
       '74056', '92629', '86315', '61058', '50754', '58750', '57500',
       '95537', '99837', '119659', '45321', '122826', '78496', '72815',
       '70174', '75988', '133493', '75333', '83929', '62262', '83086',
       '68224', '112836', '62813', '93750', '92579', '117950', '56667',
       '62464', '77119', '72674', '40767', '66692', '38212', '120435',
       '125494', '84375', '68125', '120065', '91157', '130203', '96463',
       '106039', '87688', '120911', '53859', '102851', '128623', '106858',
       '100931', '102928', '79702', '93026', '86875', '78920', '59009',
       '137063', '67080', '150994', '80423', '115785', '120173', '73196',
       '97319', '102664', '101928', '130352', '89617', '93650', '83389',
       '51389', '87357', '60887', '125694', '78974', '74985', '90555',
       '91324', '68693', '81545', '62179', '75226', '106012', '83750',
       '134387', '38413', '88512', '75913', '83333', '112831', '94091',
       '53291', '66757'], dtype=object)

In [29]:
# Change Income column to interger value
IncomeZip_df["AVG_INCOME"] = IncomeZip_df["AVG_INCOME"].astype('int64')
IncomeZip_df["Zip Code"] = IncomeZip_df["Zip Code"].astype('int64')

In [30]:
IncomeZip_df.dtypes

Zip Code      int64
AVG_INCOME    int64
dtype: object

In [31]:
IncomeZip_df

     Zip Code  AVG_INCOME
1        7001       68426
2        7002       56701
3        7003       74961
4        7004      107417
5        7005      109888
6        7006      114096
7        7008       73892
8        7009      115926
9        7010       67799
10       7011       56285
11       7012       86472
12       7013       93005
13       7014       96339
14       7016      122848
15       7017       41322
16       7018       42335
17       7020      103505
18       7021      198750
19       7022       56057
20       7023      132292
21       7024       76623
22       7026       54037
23       7027       79063
24       7028      195714
25       7029       61084
26       7030      127523
27       7031       74481
28       7032       63222
29       7033      108281
30       7034       82626
..        ...         ...
571      8852      101928
572      8853      130352
573      8854       89617
574      8857       93650
575      8858       93650
576      8859       83389
577      8861       51389
578      8863       87357
579      8865       60887
580      8867      125694
581      8869       78974
582      8872       74985
583      8873       90555
584      8876       91324
585      8879       68693
586      8880       81545
587      8882       62179
588      8884       75226
589      8886      106012
590      8887       83750
591      8889      134387
592      8890      134387
593      8901       38413
594      8902       88512
595      8904       75913
596     10969       83333
597     10983      112831
598     10990       94091
599     18042       53291
600     18343       66757

[600 rows x 2 columns]

In [34]:
IncomeZip_df["Zip Code"] = IncomeZip_df["Zip Code"].apply(lambda x: "{0:0>5}".format(x))

In [35]:
IncomeZip_df

    Zip Code  AVG_INCOME
1      07001       68426
2      07002       56701
3      07003       74961
4      07004      107417
5      07005      109888
6      07006      114096
7      07008       73892
8      07009      115926
9      07010       67799
10     07011       56285
11     07012       86472
12     07013       93005
13     07014       96339
14     07016      122848
15     07017       41322
16     07018       42335
17     07020      103505
18     07021      198750
19     07022       56057
20     07023      132292
21     07024       76623
22     07026       54037
23     07027       79063
24     07028      195714
25     07029       61084
26     07030      127523
27     07031       74481
28     07032       63222
29     07033      108281
30     07034       82626
..       ...         ...
571    08852      101928
572    08853      130352
573    08854       89617
574    08857       93650
575    08858       93650
576    08859       83389
577    08861       51389
578    08863       87357
579    08865       60887
580    08867      125694
581    08869       78974
582    08872       74985
583    08873       90555
584    08876       91324
585    08879       68693
586    08880       81545
587    08882       62179
588    08884       75226
589    08886      106012
590    08887       83750
591    08889      134387
592    08890      134387
593    08901       38413
594    08902       88512
595    08904       75913
596    10969       83333
597    10983      112831
598    10990       94091
599    18042       53291
600    18343       66757

[600 rows x 2 columns]

In [37]:
IncomeZip_df.dtypes

Zip Code      object
AVG_INCOME     int64
dtype: object

In [39]:
IncomeZip_df.describe()

          AVG_INCOME
count     600.000000
mean    90759.440000
std     35624.626103
min     14740.000000
25%     66604.000000
50%     85532.000000
75%    111372.500000
max    233750.000000

In [40]:
# Export data to .csv file
IncomeZip_df.to_csv(os.path.join('Data_temp', 'CleanZipCodeIncome.csv'))