In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Import CSV and convert to dataframes
NJHousehold_df = pd.read_csv(os.path.join("Resources", "NJ_Household_Income.csv"))

In [3]:
### Display DataFrame of NJ_Household_Incomes
NJHousehold_df

,State,County,Household Income,95% CI - Low,95% CI - High,Household income (Black),Household income (Hispanic),Household income (White)
0,New Jersey,NaN,80106,79326,80886,NaN,NaN,NaN
1,New Jersey,Atlantic,59309,55159,63459,31404.0,43543.0,69934.0
2,New Jersey,Bergen,93805,90273,97337,69954.0,71150.0,98605.0
3,New Jersey,Burlington,86777,83107,90447,70301.0,73410.0,85691.0
4,New Jersey,Camden,65817,62849,68785,43971.0,42025.0,76672.0
5,New Jersey,Cape May,64450,60890,68010,40047.0,39893.0,65213.0
6,New Jersey,Cumberland,51786,48058,55514,35843.0,37217.0,59990.0
7,New Jersey,Essex,60284,57891,62677,40394.0,42620.0,98762.0
8,New Jersey,Gloucester,84639,79660,89618,57809.0,55283.0,84576.0
9,New Jersey,Hudson,65673,61919,69427,43914.0,44586.0,85347.0
10,New Jersey,Hunterdon,113083,104707,121459,91216.0,80863.0,112690.0
11,New Jersey,Mercer,78161,73123,83199,44312.0,48424.0,93856.0
12,New Jersey,Middlesex,85187,82993,87381,69546.0,58832.0,82700.0
13,New Jersey,Monmouth,97627,94068,101186,46106.0,61254.0,97886.0
14,New Jersey,Morris,114269,108812,119726,80934.0,77899.0,109790.0
15,New Jersey,Ocean,70493,67735,73251,50162.0,57950.0,66587.0
16,New Jersey,Passaic,63127,59589,66665,39774.0,42802.0,87153.0
17,New Jersey,Salem,61322,54323,68321,30958.0,39259.0,71223.0
18,New Jersey,Somerset,111838,105795,117881,73173.0,75248.0,109532.0
19,New Jersey,Sussex,89744,84640,94848,59965.0,80738.0,89759.0
20,New Jersey,Union,76830,73945,79715,54861.0,54084.0,98384.0
21,New Jersey,Warren,79633,74630,84636,84500.0,53359.0,76922.0

In [6]:
NJcleanhouse_df = NJHousehold_df.drop(NJHousehold_df.index[0])

In [7]:
NJcleanhouse_df

,State,County,Household Income,95% CI - Low,95% CI - High,Household income (Black),Household income (Hispanic),Household income (White)
1,New Jersey,Atlantic,59309,55159,63459,31404.0,43543.0,69934.0
2,New Jersey,Bergen,93805,90273,97337,69954.0,71150.0,98605.0
3,New Jersey,Burlington,86777,83107,90447,70301.0,73410.0,85691.0
4,New Jersey,Camden,65817,62849,68785,43971.0,42025.0,76672.0
5,New Jersey,Cape May,64450,60890,68010,40047.0,39893.0,65213.0
6,New Jersey,Cumberland,51786,48058,55514,35843.0,37217.0,59990.0
7,New Jersey,Essex,60284,57891,62677,40394.0,42620.0,98762.0
8,New Jersey,Gloucester,84639,79660,89618,57809.0,55283.0,84576.0
9,New Jersey,Hudson,65673,61919,69427,43914.0,44586.0,85347.0
10,New Jersey,Hunterdon,113083,104707,121459,91216.0,80863.0,112690.0
11,New Jersey,Mercer,78161,73123,83199,44312.0,48424.0,93856.0
12,New Jersey,Middlesex,85187,82993,87381,69546.0,58832.0,82700.0
13,New Jersey,Monmouth,97627,94068,101186,46106.0,61254.0,97886.0
14,New Jersey,Morris,114269,108812,119726,80934.0,77899.0,109790.0
15,New Jersey,Ocean,70493,67735,73251,50162.0,57950.0,66587.0
16,New Jersey,Passaic,63127,59589,66665,39774.0,42802.0,87153.0
17,New Jersey,Salem,61322,54323,68321,30958.0,39259.0,71223.0
18,New Jersey,Somerset,111838,105795,117881,73173.0,75248.0,109532.0
19,New Jersey,Sussex,89744,84640,94848,59965.0,80738.0,89759.0
20,New Jersey,Union,76830,73945,79715,54861.0,54084.0,98384.0
21,New Jersey,Warren,79633,74630,84636,84500.0,53359.0,76922.0