In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Import CSV and convert to dataframes
contact_df = pd.read_csv(os.path.join("Resources", "school_contact.csv"))
ratio_df = pd.read_csv(os.path.join("Resources", "school_ratio.csv"))
exp_df = pd.read_csv(os.path.join("Resources", "school_exp.csv"))
test_df = pd.read_csv(os.path.join("Resources", "school_test.csv"))

#### Clean contact dataframe

In [3]:
# Drop unnecessary columns
contact_df = contact_df[["DISTRICT_CODE", "DISTRICT_NAME", "SCHOOL_CODE", "SCHOOL_NAME", "GRADESPAN"]]

# Verify no missing data
contact_df.isnull().sum()

# Verify data are of correct type
contact_df.dtypes

# Add leading zeros to district and school codes
contact_df["DISTRICT_CODE"] = contact_df["DISTRICT_CODE"].apply(lambda x: "{0:0>4}".format(x))
contact_df["SCHOOL_CODE"] = contact_df["SCHOOL_CODE"].apply(lambda x: "{0:0>3}".format(x))

# Create unique key column from district and school codes
contact_df["DS_CODE"] = contact_df["DISTRICT_CODE"].map(str) + "-" + contact_df["SCHOOL_CODE"].map(str)

# Verify no duplicate district-school codes
contact_df[contact_df.duplicated(['DS_CODE'])]

# Verify no incorrect data in grade span
contact_df.GRADESPAN.unique()

array(['05-08', 'PK-04', '09-12', 'PK-08', 'KG-08', 'PK-PK', 'PK-05',
       '06-08', 'KG-02', 'PK-02', '03-05', 'PK-03', '04-08', '04-05',
       'KG-06', '07-08', 'PK-06', 'PK-01', 'KG-05', 'PK-12', 'KG-12',
       '07-12', '01-06', '01-08', '02-04', '03-06', '04-06', 'PK-KG',
       '01-03', '03-08', 'KG-03', '06-12', 'KG-04', '03-03', '01-04',
       '01-12', '02-06', 'KG-01', '06-07', '02-03', '05-06', '06-06',
       '01-02', 'KG-10', 'PK-09', '03-04', '09-10', '05-05', '08-12',
       '05-12', 'PK-07', '08-09', '02-12', '02-05', '01-05', '09-09',
       '10-12', '11-12', '07-09', 'KG-KG', '02-08', '06-09', '03-07',
       '02-02', '12-12', 'PK-10', 'KG-07', 'KG-11', 'KG-09'], dtype=object)

#### Clean ratio dataframe

In [4]:
# Drop and rename columns
ratio_df = ratio_df[["DistrictCode", "SchoolCode", "Student_Teacher_School", "Student_Teacher_District"]]
ratio_df = ratio_df.rename(columns={"DistrictCode": "DISTRICT_CODE", "SchoolCode": "SCHOOL_CODE", \
                                    "Student_Teacher_School": "SCH_RAT", "Student_Teacher_District": "DIST_RAT"})

# Verify no missing data
ratio_df.isnull().sum()

# Verify data are of correct type
ratio_df.dtypes

# Add leading zeros to district and school codes
ratio_df["DISTRICT_CODE"] = ratio_df["DISTRICT_CODE"].apply(lambda x: "{0:0>4}".format(x))
ratio_df["SCHOOL_CODE"] = ratio_df["SCHOOL_CODE"].apply(lambda x: "{0:0>3}".format(x))

# Create unique key column from district and school codes
ratio_df["DS_CODE"] = ratio_df["DISTRICT_CODE"].map(str) + "-" + ratio_df["SCHOOL_CODE"].map(str)

# Verify no duplicate district-school codes
ratio_df[ratio_df.duplicated(['DS_CODE'])]

# Review ratios to verify no junk data
ratio_df.SCH_RAT.unique()

# Replaced "N" values and likely inaccurate values with None
ratio_df = ratio_df.replace(["148:1", "53:1", "56:1", "50:1", "152:1", "66:1", "106:1", "74:1",\
                             "245:1", "268:1", "520:1", "327:1", "N"], None)

# Convert ratios to a single number and cast them as integers
temp_df = ratio_df["SCH_RAT"].str.split(":", n = 1, expand = True)
ratio_df["SCH_RAT"] = temp_df[0].astype('int64')

temp_df = ratio_df["DIST_RAT"].str.split(":", n = 1, expand = True)
ratio_df["DIST_RAT"] = temp_df[0].astype('int64')

# Verify values are of the correct type
ratio_df.dtypes

DISTRICT_CODE    object
SCHOOL_CODE      object
SCH_RAT           int64
DIST_RAT          int64
DS_CODE          object
dtype: object

#### Clean expense dataframe

In [5]:
# Drop and rename columns
exp_df = exp_df[["DistrictCode", "Total"]]
exp_df = exp_df.rename(columns={"DistrictCode": "DISTRICT_CODE", "Total": "EXPENSE"})

# Verify no null values
exp_df.isnull().sum()

# Verify no duplicate districts
exp_df[exp_df.duplicated(["DISTRICT_CODE"])]

# Add leading zeros to district code
exp_df["DISTRICT_CODE"] = exp_df["DISTRICT_CODE"].apply(lambda x: "{0:0>4}".format(x))

# Inspect expense values; clean and format expense column; replace missing values with None; cast as integer
exp_df.EXPENSE.unique()
exp_df = exp_df.replace("N", None)
exp_df["EXPENSE"] = exp_df["EXPENSE"].astype('int64')

# Verify values are of the correct type
exp_df.dtypes

DISTRICT_CODE    object
EXPENSE           int64
dtype: object

#### Clean test dataframe

In [6]:
# Drop and rename columns
test_df = test_df[["DistrictCode", "SchoolCode", "Test", "Subject", "School_Avg", "State_avg"]]
test_df = test_df.rename(columns={"DistrictCode": "DISTRICT_CODE", "SchoolCode": "SCHOOL_CODE",\
                                  "SchoolCode": "SCHOOL_CODE", "Test": "TEST", "School_Avg": "SCH_AVG", \
                                  "State_avg": "STATE_AVG"})

# Verify no missing data
test_df.isnull().sum()

# Drop any duplicate rows
test_df.drop_duplicates()

# Add leading zeros to district and school codes
test_df["DISTRICT_CODE"] = test_df["DISTRICT_CODE"].apply(lambda x: "{0:0>4}".format(x))
test_df["SCHOOL_CODE"] = test_df["SCHOOL_CODE"].apply(lambda x: "{0:0>3}".format(x))


# Create unique key column from district and school codes
test_df["DS_CODE"] = test_df["DISTRICT_CODE"].map(str) + "-" + test_df["SCHOOL_CODE"].map(str)

# Combine test and subject columns
test_df["TEST"] = test_df["TEST"] + ": " + test_df["Subject"]
test_df = test_df.drop("Subject", axis = 1)

# Review ACT scores to verify no missing values and scores within valid range
ACT_df = test_df[test_df['TEST'].str.contains('ACT')]
ACT_df.SCH_AVG.unique()
ACT_df.STATE_AVG.unique()

# Review SAT scores to verify no missing values and scores within valid range
SAT_df = test_df[test_df['TEST'].str.contains('SAT')]
SAT_df.SCH_AVG.unique()
SAT_df.STATE_AVG.unique()

# Replace missing values with None and cast as integer
test_df = test_df.replace(["N", "*"], None)
test_df["SCH_AVG"] = test_df["SCH_AVG"].astype('int64')

# Verify values are of the correct type
test_df.dtypes

DISTRICT_CODE    object
SCHOOL_CODE      object
TEST             object
SCH_AVG           int64
STATE_AVG         int64
DS_CODE          object
dtype: object

In [7]:
contact_df.to_csv(os.path.join('Data_temp', 'school_contact_cleaned.csv'))
ratio_df.to_csv(os.path.join('Data_temp', 'school_ratio_cleaned.csv'))
exp_df.to_csv(os.path.join('Data_temp', 'school_expense_cleaned.csv'))
test_df.to_csv(os.path.join('Data_temp', 'school_test_cleaned.csv'))

In [8]:
contact_df

,DISTRICT_CODE,DISTRICT_NAME,SCHOOL_CODE,SCHOOL_NAME,GRADESPAN,DS_CODE
0,0010,ABSECON CITY,050,EMMA C ATTALES,05-08,0010-050
1,0010,ABSECON CITY,060,H ASHTON MARSH,PK-04,0010-060
2,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,09-12,0110-010
3,0110,ATLANTIC CITY,030,SOVEREIGN AVENUE SCHOOL,PK-08,0110-030
4,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,PK-08,0110-050
5,0110,ATLANTIC CITY,060,TEXAS AVENUE SCHOOL,KG-08,0110-060
6,0110,ATLANTIC CITY,070,NEW YORK AVENUE SCHOOL,PK-08,0110-070
7,0110,ATLANTIC CITY,080,UPTOWN SCHOOL COMPLEX,PK-08,0110-080
8,0110,ATLANTIC CITY,100,PENNSYLVANIA AVE SCHOOL,PK-08,0110-100
9,0110,ATLANTIC CITY,120,RICHMOND AVENUE SCHOOL,PK-08,0110-120
10,0110,ATLANTIC CITY,130,VENICE PARK SCHOOL,PK-PK,0110-130
11,0110,ATLANTIC CITY,140,DR MARTIN LUTHER KING JR SCHOOL COMPLEX,PK-08,0110-140
12,0110,ATLANTIC CITY,300,BRIGHTON AVENUE SCHOOL,PK-05,0110-300
13,0120,ATLANTIC CO VOCATIONAL,010,ATLANTIC COUNTY INSTITUTE OF TECHNOLOGY,09-12,0120-010
14,0120,ATLANTIC CO VOCATIONAL,300,ATLANTIC COUNTY ALTERNATIVE HIGH SCHOOL,09-12,0120-300
15,0125,ATLANTIC CO SPECIAL SERV,030,ATLANTIC COUNTY ELEMENTARY AND MIDDLE SCHOOLS,PK-08,0125-030
16,0125,ATLANTIC CO SPECIAL SERV,060,ATLANTIC COUNTY HIGH SCHOOL,09-12,0125-060
17,0570,BRIGANTINE CITY,010,BRIGANTINE ELEMENTARY SCHOOL,PK-04,0570-010
18,0570,BRIGANTINE CITY,030,BRIGANTINE NORTH MIDDLE SCHOOL,05-08,0570-030
19,0590,BUENA REGIONAL,025,BUENA REGIONAL HIGH SCHOOL,09-12,0590-025
20,0590,BUENA REGIONAL,030,BUENA REGIONAL MIDDLE SCHOOL,06-08,0590-030
21,0590,BUENA REGIONAL,045,COLLINGS LAKES ELEMENTARY SCHOOL,KG-02,0590-045
22,0590,BUENA REGIONAL,055,JOHN C. MILANESI ELEMENTARY SCHOOL,PK-02,0590-055
23,0590,BUENA REGIONAL,300,DR. J.P. CLEARY ELEMENTARY SCHOOL,03-05,0590-300
24,1300,EGG HARBOR CITY,020,CHARLES L. SPRAGG SCHOOL,PK-03,1300-020
25,1300,EGG HARBOR CITY,030,EGG HARBOR CITY COMMUNITY SCHOOL,04-08,1300-030
26,1310,EGG HARBOR TWP,005,EGG HARBOR TOWNSHIP HIGH SCHOOL,09-12,1310-005
27,1310,EGG HARBOR TWP,033,CLAYTON J. DAVENPORT ELEMENTARY SCHOOL,PK-03,1310-033
28,1310,EGG HARBOR TWP,035,E. H. SLAYBAUGH ELEMENTARY SCHOOL,PK-03,1310-035
29,1310,EGG HARBOR TWP,038,ALDER AVENUE MIDDLE SCHOOL,06-08,1310-038
...,...,...,...,...,...,...
2489,6810,INTERNATIONAL CHARTER SCHOOL,940,INTERNATIONAL CHARTER SCHOOL,KG-04,6810-940
2490,6910,JERSEY CITY COMM. CS,940,JERSEY CITY COMMUNITY CHARTER SCHOOL,KG-08,6910-940
2491,6915,JERSEY CITY GOLDEN DOOR CHARTER SCHOOL,950,JERSEY CITY GOLDEN DOOR CHARTER SCHOOL,PK-08,6915-950
2492,7100,LADY LIBERTY ACADEMY CS,936,LADY LIBERTY ACADEMY CHARTER SCHOOL,KG-08,7100-936
2493,7109,LEAP ACADEMY UNIVERSITY CS,931,LEAP ACADEMY UNIVERSITY CHARTER SCHOOL,KG-12,7109-931
2494,7115,LEARNING COMMUNITY CS,960,LEARNING COMMUNITY CHARTER SCHOOL,PK-08,7115-960
2495,7210,MARION P. THOMAS CS,940,MARION P. THOMAS CHARTER SCHOOL,KG-12,7210-940
2496,7290,NEW HORIZONS COMM. CS,957,NEW HORIZONS COMMUNITY CHARTER SCHOOL,KG-07,7290-957
2497,7320,NORTH STAR ACADEMY CHARTER SCHOOL,960,NORTH STAR ACADEMY CHARTER SCHOOL,KG-12,7320-960
2498,7325,TEAM ACADEMY CHARTER SCHOOL,965,TEAM ACADEMY CHARTER SCHOOL,KG-12,7325-965
2499,7410,CHARTER~TECH HIGH SCHOOL,940,CHARTERTECH HIGH SCHOOL FOR THE PERFORMING ARTS,09-12,7410-940
2500,7500,PACE CS OF HAMILTON,900,PACE CHARTER SCHOOL OF HAMILTON,KG-06,7500-900
2501,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,KG-12,7503-970
2502,7540,PRINCETON CS,930,PRINCETON CHARTER SCHOOL,KG-08,7540-930
2503,7600,QUEEN CITY ACADEMY CS,960,THE QUEEN CITY ACADEMY CHARTER SCHOOL,KG-08,7600-960
2504,7720,THE RED BANK CS,915,RED BANK CHARTER SCHOOL,PK-08,7720-915
2505,7727,RIDGE AND VALLEY CS,900,RIDGE AND VALLEY CHARTER SCHOOL,KG-08,7727-900
2506,7730,ROBERT TREAT ACADEMY CS,970,ROBERT TREAT ACADEMY CHARTER SCHOOL,KG-08,7730-970
2507,7735,MARIA L. VARISCO-ROGERS CS,975,MARIA VARISCO ROGERS CHARTER SCHOOL,KG-08,7735-975
2508,7830,SOARING HEIGHTS CS,980,SOARING HEIGHTS CHARTER SCHOOL,KG-08,7830-980
2509,7850,SUSSEX COUNTY TECHNOLOGY CHARTER SCHOOL,960,SUSSEX COUNTY TECHNOLOGY CHARTER SCHOOL,06-08,7850-960
2510,7890,TEANECK COMMUNITY CS,920,TEANECK COMMUNITY CHARTER SCHOOL,KG-08,7890-920
2511,7891,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,904,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,KG-06,7891-904
2512,7892,COLLEGE ACHIEVE PATERSON CHARTER SCHOOL,909,COLLEGE ACHIEVE PATERSON CHARTER SCHOOL,KG-06,7892-909
2513,7893,OCEAN ACADEMY CHARTER SCHOOL,918,OCEAN ACADEMY CHARTER SCHOOL,KG-02,7893-918
2514,8010,UNION COUNTY TEAMS CS,980,UNION COUNTY TEAMS CHARTER SCHOOL,KG-12,8010-980
2515,8050,UNITY CS,990,UNITY CHARTER SCHOOL,KG-08,8050-990
2516,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,09-12,8060-990
2517,8065,UNIVERSITY HEIGHTS CS,980,UNIVERSITY HEIGHTS CHARTER SCHOOL,PK-08,8065-980
2518,8140,VILLAGE CS,990,THE VILLAGE CHARTER SCHOOL,KG-08,8140-990